@page
@model IndexModel
@{

<body>
        <table>
            <thead>
                <tr>
                    <td>Kürzel</td>
                    <td>Nachname</td>
                    <td>Vorname</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model.Teacherslist)
                {
                    <tr>
                        <td>@teacher.Name_Short</td>
                        <td>@teacher.Lastname</td>
                        <td>@teacher.Firstname</td>
                        <td>@teacher.ID</td>

                        <td>
                            <form id="form" asp-route-id="@teacher.ID" name="form" method="post">
                                <input type="submit" name="delte" class="btn btn-info" value="Löschen"/>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
    <form action="/Diplomarbeit/Admin/Add">
        <input type="submit" class="btn btn-info" value="User hinzufügen"/>
    </form>
    <h1>@Model.Message</h1>
</body>

   
}
